.test{
    width: 100vw;
}
.testwrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.testwrapper .top {
    padding: 50px 0;
    text-align: center;
}
.testwrapper .top h1{
   color: black;
   font-weight: 400;
   font-size: 40px;
}
.testwrapper .cards{
    padding: 0 100px;
    display: flex;
    align-items: center;
}
.testwrapper .cards .carditem{
    flex: 1;
    padding: 40px 20px;
    background: #000;
    margin-right: 30px;
}
.testwrapper .cards .carditem p{
    font-weight: 400;
    font-style: italic;
    color: white;
    font-size: 20px 30px;
}
.testwrapper .cards .carditem h4{
    color: #C2A43B;
    font-weight: 600;
    font-size: 25px;
}
.testwrapper .bottom{
    margin-top: 60px;
    text-align: center;
}
.testwrapper .bottom button{
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 30px;
}
.testwrapper .bottom button:hover{
    color: black;
    background-color: white;
}

@media  only screen and (max-width:990px) {
    .testwrapper .top h1{
        font-size: 30px;
     }
    .testwrapper .cards{
        flex-direction: column;
     }
    .testwrapper .cards .carditem{
        margin-top: 30px;
     }

}